.banner {
  height: 60vh;
  min-height: 300px;
  width: 100%;
  background-size: cover;
    background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.banner-tex-area {
  position: absolute;
  bottom: 20%;
  left: 5%;
  max-width: 600px;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 60%);
}
